/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
  font-family: 'MPlus';
  font-weight: 400;
  src: url('../fonts/MPLUS1-Regular.woff2');
}
@font-face {
  font-family: 'MPlus';
  font-weight: 600;
  src: url('../fonts/MPLUS1-Medium.woff2');
}
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-back: #6dbedf;
  --global-color-front: white;

  --global-color-red-x-light:#ffe8e8;
  --global-color-red-light:#FF7171;
  --global-color-red-neutral:#e83f40;
  --global-color-red-dark:#af2e2f;
  --global-color-red-x-dark:#6A0000;

  --global-color-rand-coin: #d3880b;
  --global-color-rand-background: #fdc845;
  --global-color-rand-euro: #d3880b;
  --global-color-person: black;

  --global-color-neutral-xxxx-light: #f0f0f7;
  --global-color-neutral-xxx-light: #ebebf2;
  --global-color-neutral-xx-light: #d7dae2;
  --global-color-neutral-x-light: #bcbccb;
  --global-color-neutral-light: #a5a4bf;
  --global-color-neutral: #878888;
  --global-color-neutral-dark: #4d4f5c;
  --global-color-neutral-x-dark: #43425d;
  --global-color-neutral-xx-dark: #3b3b53;

  /* global page settings */
  --global-html-color: var(--global-color-front);
  --global-html-backgroundColor: var(--global-color-back);
  --global-selection-backgroundColor: var(--global-color-front);

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* Shadows */
  --global-box-shadow: 0 0 0 3px rgba(84, 0, 0, 0.05), 0 4px 5px rgba(84, 0, 0, 0.4);
}

/*------------------------------------*\
  #GENERIC
  \*------------------------------------*/

/*
      Generic: Page
      ---
      Global page styles + universal box-sizing:
  */

html {
  font-size: var(--global-whitespace-md);
  line-height: 1.5;
  font-family:'MPlus', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 550px) {
  html{
    font-size: 20px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Customize the background color to match your design.
  */

::selection {
  background: var(--global-color-red-neutral);
  color: white;
  text-shadow: none;
}
/*------------------------------------*\
  #Elements
  \*------------------------------------*/

/*------------------------------------*\
  #OBJECTS
  \*------------------------------------*/

/*
      Objects: List
      ---
      Small reusable object to remove default list styling from lists
  */

.o-list {
  list-style: none;
  padding: 0;
}
.o-list-type {
  list-style: none;
  padding: 0;
}
.o-text{
  margin-top: var(--global-baseline);
}
@media (min-width: 550px) {
  .o-text{
    max-width: 500px;
  }
}
.c-list {
  display: flex;
}
/*
      Object: Button reset
      ---
      Small button reset object
  */

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
      Object: Hide accessible
      ---
      Accessibly hide any element
  */
  .o-free{
    display: flex;
    justify-items: start;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 30px;
  }
.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.o-hide-display {
  opacity: 0;
}

/*------------------------------------*\
  #COMPONENTS
  \*------------------------------------*/
  /*
    Component: Option list
    ---

*/

.c-option-list {
  display: flex;
}


  /*
    Component: Forms
    ---
    Everything form related here
*/

.c-form-field {
  position: relative;
}

.c-form-field--option {
  display: flex;
  align-items: center;
}
/*
      Component: topic
  */
.c-topic{
  display: block;
  position: relative;
  justify-content: center;
  padding-right:var(--global-baseline);
  padding-left: var(--global-baseline);
  outline: none;
}

.c-topic:hover,
.c-topic:active{
color: var(--global-color-red-neutral);
}
.c-option--hidden:focus + .c-topic{
  color: var(--global-color-red-neutral );
}

.c-topic-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 0 8px 0; */
  margin: 0 var(--global-whitespace-md) 0 var(--global-whitespace-md);
  padding: 16px;
  background-color: var(--global-color-red-x-light);
  border-radius: 25px;
  box-shadow: var(--global-box-shadow);
}

@media (min-width: 550px) {
  .c-topic-box{
    justify-self: center;
    width: 550px;
  }
}
.c-explanation{
  display: block;
  text-align: center;
}
/*
      Component: top of page
  */
.c-body {
  /* --c-app__topbar-height: calc(var(--global-baseline) * 14); */
  min-height: 100vh;
  background-color: var(--global-color-red-light);
}
.c-grid{
  grid-template-rows: 45px 150px 125px 250px; /*190*/
  grid-gap: var(--global-whitespace-lg);
  display: grid;
}
@media (min-width: 550px) {
  .c-grid{
  grid-template-rows: 55px 175px 250px 300px; /*290*/
  }
}
.c-topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 16px; */
  box-shadow: var(--global-box-shadow);
  background-color: var(--global-color-red-x-light);
  /* grid-row: 20px; */
}

/*
      Component: select
  */
.c-select {
  color: var(--global-color-red-neutral);
}

/*
      Component: loader
  */
.dots {
  display: flex;
  height: var(--global-whitespace);
  /* justify-content: center;
    align-items: center; */
  /* margin-top: 100px; */
  transform: translate(7%, 0%);
}

.c-output-item {
  padding: 4px 0 8px 0;
}

.dots-load {
  width: 20px;
  height: 20px;
  background-color: var(--global-color-red-neutral);
  border-radius: 50%;
  margin-right: 15px;
}
@media (min-width: 550px) {
  .dots-load{
    width: 25px;
    height: 25px;
  }
}
/*
      Component: coin
  */

.c-coin {
  width: 25px;
  margin: 4px;
}
.c-person {
  width: 35px;
  padding: 4px;
  fill: var(--global-color-red-x-dark);
}
@media (min-width: 550px) {
  .c-coin{
    width: 35px;
  }
  .c-person {
    width: 45px;
  }
}
.c-coin-rand {
  fill: var(--global-color-rand-coin);
}
.c-coin-background {
  fill: var(--global-color-rand-background);
}
.c-coin-euro {
  fill: var(--global-color-rand-euro);
}
/*
      Component: button
  */
  .c-button{
    outline: none;
  }
  .c-button:focus{
    border: 2px solid var(--global-color-red-neutral);
  }
.c-explanation__item{
  padding: 0;
  margin: 0;
}

.c-redButton {
  /* max-width: 400px; */
  display: flex;
  margin: 0 auto;
}

.c-redButton-circle {
  fill: var(--global-color-red-neutral);
}
.c-redButton-edge {
  fill: var(--global-color-neutral);
}

.c-redButton-side {
  fill: var(--global-color-red-dark);
}


/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
  display: block;
  position: relative;
  justify-content: center;
  padding-right:var(--global-baseline);
  padding-left: var(--global-baseline);
  outline: none;
}
/* .c-label:focus{
  border: 2px solid blue;
} */
.c-label::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--global-color-red-light);
  opacity: 0;
  transition: opacity 400ms, transform 400ms;
}



.c-label:hover::after{
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.c-option--hidden:focus +.c-label::after{
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/*
    Component: input
*/
.c-custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--global-baseline);
}
.c-input {
  width: 50px;
  height: 22px;
  outline: none;
  border: 1px solid var(--global-color-red-neutral);
  border-radius: 15px;
  text-align: center;
}
.c-custom-option__fake-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
}



@media (min-width: 550px) {
  .c-custom-option__fake-input{
    width: 250px;
  }
  .c-input{
    height: 30px;
    width: 57px;
  }
}

/*------------------------------------*\
  #UTILITIES
  \*------------------------------------*/
.u-muted {
  display: none;
}
.u-text-align_center {
  display: block;
  text-align: center;
}
.u-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.u-text__sm{
  font-weight: 400;
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  color: var(--global-color-neutral-dark);
}
.u-text__lg{
  font-weight: 600;
  color: var(--global-color-red-neutral);
}
/*------------------------------------*\
  #MEDIA
  \*------------------------------------*/

/*
      Print styles.
      ---
      Inlined to avoid the additional HTTP request:
      http://www.phpied.com/delay-loading-your-print-css/
  */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
          http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
      * Don't show links that are fragment identifiers,
      * or use the `javascript:` pseudo protocol
      */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
      * Printing Tables:
      * http://css-discuss.incutio.com/wiki/Printing_Tables
      */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
